<?xml version="1.0"?>
<config>
  <global>
    <modules>
      <Searchtechnow_Recentlysold>
        <version>0.1.0</version>
      </Searchtechnow_Recentlysold>
    </modules>
    <blocks>
      <recentlysold>
        <rewrite>
          <recentlysold>Searchtechnow_Recentlysold_Block_Recentlysold</recentlysold>
        </rewrite>
      </recentlysold>
    </blocks>
	<models>
      <recentlysold>
        <class>Searchtechnow_Recentlysold_Model</class>
      </recentlysold>
    </models>
  </global>
  <frontend>
    <routers>
      <recentlysold>
        <use>standard</use>
        <args>
          <module>Searchtechnow_Recentlysold</module>
          <frontName>recentlysold</frontName>
        </args>
      </recentlysold>
    </routers>
    <layout>
      <updates>
        <recentlysold>
          <file>recentlysold.xml</file>
        </recentlysold>
      </updates>
    </layout>
  </frontend>
</config>
