<?xml version="1.0"?>
<config>
  <modules>
    <Searchtechnow_Productimport>
      <version>1.0.1</version>
    </Searchtechnow_Productimport>
  </modules>
  <global>
    <helpers>
      <searchtechnow_productimport>
        <class>Searchtechnow_Productimport_Helper</class>
      </searchtechnow_productimport>
    </helpers>
    <blocks>
      <searchtechnow_productimport_admin>
        <class>Searchtechnow_Productimport_Adminhtml</class>
      </searchtechnow_productimport_admin>
    </blocks>
  </global>
  <adminhtml>
    <translate>
      <modules>
        <Searchtechnow_Productimport>
          <files>
            <default>Searchtechnow_Productimport_Adminhtml.csv</default>
          </files>
        </Searchtechnow_Productimport>
      </modules>
    </translate>
    <menu>
      <searchtechnow_productimport translate="title" module="searchtechnow_productimport">
        <title>Productimport</title>
		<action>adminhtml/productimport_index</action>
        <sort_order>150</sort_order>        
      </searchtechnow_productimport>
    </menu>
    <acl>
      <resources>
        <admin>
          <children>
            <searchtechnow_productimport translate="title" module="searchtechnow_productimport">
              <title>Productimport</title>
              <sort_order>150</sort_order>              
            </searchtechnow_productimport>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <sintax before="Mage_Adminhtml">Searchtechnow_Productimport_Adminhtml</sintax>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>  
  <adminhtml>
    <layout>
      <updates>
        <searchtechnow_productimport>
          <file>productimport.xml</file>
        </searchtechnow_productimport>
      </updates>
    </layout>
  </adminhtml>
</config>
