<?xml version="1.0"?>
<config>
  <modules>
    <Krunal_Packer>
      <version>0.0.1</version>
    </Krunal_Packer>
  </modules>
  <frontend>
  	<routers>
		<krunal>
			<use>standard</use>
                <args>
                    <module>Krunal_Packer</module>
                    <frontName>packer</frontName>
                </args>
		</krunal>
	</routers>
	<layout>
	<updates>
		<krunal>
			<file>krunal_packer.xml</file>
		</krunal>
	</updates>
	</layout>
  </frontend>
  <global>
    <helpers>
      <packer>
        <class>Krunal_Packer_Helper</class>
      </packer>
    </helpers>
	<models>
	  <krunal_packer>
		<class>Krunal_Packer_Model</class>
		<resourceModel>packer_mysql4</resourceModel>
	  </krunal_packer>
	</models>
	<resources>
	  <categoryattribute1424323562_setup>
		<setup>
		  <module>Krunal_Packer</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1424323562_setup>
	  <categoryattribute1424323562_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1424323562_write>
	  <categoryattribute1424323562_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1424323562_read>
	</resources>
	<events>
             
			<controller_action_layout_generate_blocks_after>
                <observers>
                    <krunal_packer_model_observer1>
                        <type>singleton</type>
                        <class>Krunal_Packer_Model_Observer</class>
                        <method>track</method>
                    </krunal_packer_model_observer1>
                </observers>
            </controller_action_layout_generate_blocks_after>
			
			<core_block_abstract_to_html_before>
                <observers>
                    <krunal_packer_model_observer1>
                        <type>singleton</type>
                        <class>Krunal_Packer_Model_Observer</class>
                        <method>block</method>
                    </krunal_packer_model_observer1>
                </observers>
            </core_block_abstract_to_html_before> 
			
			<catalog_controller_product_init>
                <observers>
                    <breadcrumb_categorypath_product_init>
                        <type>singleton</type>
                        <class>Krunal_Packer_Model_Observer</class>
                        <method>fullBreadcrumbCategoryPath</method>
                    </breadcrumb_categorypath_product_init>
                </observers>
            </catalog_controller_product_init>
			
        </events>
  </global>
  <default>
        <tab1>
            <general>
                <enable>0</enable>
                <categories></categories> 
            </general>
        </tab1>
    </default>
</config> 