<?xml version="1.0"?>
<config>
    <modules>
        <Searchtechnow_Recentlypurchased>
            <version>0.1.0</version>
        </Searchtechnow_Recentlypurchased>
    </modules>
    <frontend>
        <routers>
            <recentlypurchased>
                <use>standard</use>
                <args>
                    <module>Searchtechnow_Recentlypurchased</module>
                    <frontName>recentlypurchased</frontName>
                </args>
            </recentlypurchased>
        </routers>
        <layout>
            <updates>
                <recentlypurchased>
                    <file>recentlypurchased.xml</file>
                </recentlypurchased>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <recentlypurchased>
                <use>admin</use>
                <args>
                    <module>Searchtechnow_Recentlypurchased</module>
                    <frontName>recentlypurchased</frontName>
                </args>
            </recentlypurchased>
        </routers>
    </admin>
    <adminhtml>
        
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <recentlypurchased>
                            <title>Recentlypurchased Module</title>
                            <sort_order>200</sort_order>
                        </recentlypurchased>
                    </children>
                </admin>
            </resources>   
        </acl>
        <layout>
            <updates>
                <recentlypurchased>
                    <file>recentlypurchased.xml</file>
                </recentlypurchased>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <recentlypurchased>
                <class>Searchtechnow_Recentlypurchased_Model</class>
                <resourceModel>recentlypurchased_mysql4</resourceModel>
            </recentlypurchased>
            <recentlypurchased_mysql4>
                <class>Searchtechnow_Recentlypurchased_Model_Mysql4</class>
                <entities>
                    <recentlypurchased>
                        <table>recentlypurchased</table>
                    </recentlypurchased>
                </entities>
            </recentlypurchased_mysql4>
        </models>
        <resources>
            <recentlypurchased_setup>
                <setup>
                    <module>Searchtechnow_Recentlypurchased</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </recentlypurchased_setup>
            <recentlypurchased_write>
                <connection>
                    <use>core_write</use>
                </connection>
     
     
            </recentlypurchased_write>
            <recentlypurchased_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </recentlypurchased_read>
        </resources>
        <blocks>
            <recentlypurchased>
                <class>Searchtechnow_Recentlypurchased_Block</class>
            </recentlypurchased>
        </blocks>
        <helpers>
            <recentlypurchased>
                <class>Searchtechnow_Recentlypurchased_Helper</class>
            </recentlypurchased>
        </helpers>
    </global>
</config>