<?xml version="1.0"?>
<config>
    <modules>
        <Trd_Diamond>
            <version>0.1.3</version>
        </Trd_Diamond>
    </modules>
    <global>
        <models>
            <trd_diamond>
                <class>Trd_Diamond_Model</class>
                <resourceModel>trd_diamond_resource</resourceModel>
            </trd_diamond>
            <trd_diamond_resource>
                <class>Trd_Diamond_Model_Resource</class>
                <entities>
                    <diamondprod>
                        <table>diamondprod</table>
                    </diamondprod>
                </entities>
            </trd_diamond_resource>
        </models>
        <blocks>
            <trd_diamond>
                <class>Trd_Diamond_Block</class>
            </trd_diamond>
            <checkout>
                <rewrite>
                    <cart_item_renderer>Trd_Diamond_Block_Checkout_Cart_Item_Renderer</cart_item_renderer>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <trd_diamond>
                <class>Trd_Diamond_Helper</class>
            </trd_diamond>
        </helpers>
        <resources>
            <trd_diamond_setup>
                <setup>
                    <module>Trd_Diamond</module>
                </setup>
            </trd_diamond_setup>
        </resources>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <add_custom_diamond>
                        <type>singleton</type>
                        <class>Trd_Diamond_Model_Observer</class>
                        <method>modifyAttrs</method>
                    </add_custom_diamond>
                </observers>
            </checkout_cart_product_add_after>
            <sales_order_place_after>
                <observers>
                    <custom_observe_order_place>
                        <type>singleton</type>
                        <class>Trd_Diamond_Model_Observer</class>
                        <method>deleteDiamonAfterPlace</method>
                    </custom_observe_order_place>
                </observers>
            </sales_order_place_after>
        </events>
    </global>

    <frontend>
        <routers>
            <diamond>
                <use>standard</use>
                <args>
                    <module>Trd_Diamond</module>
                    <frontName>diamonds</frontName>
                </args>
            </diamond>
        </routers>
    </frontend>

    <default>
        <web>
            <routers>
                <trd_diamond>
                    <area>frontend</area>
                    <class>Trd_Diamond_Controller_Router</class>
                </trd_diamond>
            </routers>
        </web>
    </default>

    <admin>
        <routers>
            <diamond>
                <use>admin</use>
                <args>
                    <module>Trd_Diamond</module>
                    <frontName>diamondprod</frontName>
                </args>
            </diamond>
        </routers>
    </admin>

    <adminhtml>
        <menu>
            <catalog>
                <children>
                    <diamond_adminform translate="title" module="trd_diamond">
                        <title>Manage Diamond Product</title>
                        <action>diamondprod/adminhtml_manage</action>
                    </diamond_adminform>
                </children>
            </catalog>
        </menu>
    </adminhtml>
</config>