<?xml version="1.0"?>
<config>
    <modules>
        <Codewix_IpbasedDevmode>
            <version>0.1.0</version>
        </Codewix_IpbasedDevmode>
    </modules>
    <global>
        <models>
            <ipbaseddevmode>
                <class>Codewix_IpbasedDevmode_Model</class>
            </ipbaseddevmode>
        </models>
        <blocks>
            <ipbaseddevmode>
                <class>Codewix_IpbasedDevmode_Block</class>
            </ipbaseddevmode>
        </blocks>
        <helpers>
            <ipbaseddevmode>
                <class>Codewix_IpbasedDevmode_Helper</class>
            </ipbaseddevmode>
        </helpers>
        <!--events>
            <controller_front_init_before>
                <observers>
                    <ipbaseddevmode>
                        <class>ipbaseddevmode/observer</class>
                        <method>controller_front_init_before</method>
                    </ipbaseddevmode>
                </observers>
            </controller_front_init_before>
        </events-->
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <ipbaseddevmode>
                        <class>ipbaseddevmode/observer</class>
                        <method>controller_action_predispatch</method>
                    </ipbaseddevmode>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <devmode>
                                            <title>Codewix IP Based Dev Mode</title>
                                        </devmode>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>