a:focus { outline:none !important}
.p0 { padding: 0px !important }
.myshoppage { color: #313131; }
.fcdark { color: #313131 !important; }
.step-top { overflow: hidden; padding: 0; }
.step-number { padding: 0; }
.step-text { color: #313131; padding: 20px 0 !important; text-transform: uppercase; }
.step-text h2 { font-size: 18px; margin: 0; text-transform: uppercase; }
.step-number h1 { float: right; font-family: Express; font-size: 44px; margin: 12px 0; padding-right: 12px; }
.step-top:first-child { border-left-width: 1px; }
.my-custom-list-table th, .my-custom-list-table td { color: #252525; font-weight: normal; padding: 10px; text-transform: uppercase; }
.pv30 { padding: 30px 0; }
.list-img-label > img { padding: 0 10px; }
.step-top.step-active { background-color: #dde5ed; color: #313131; }
.filter_area_title { background-color: #dde5ed; padding: 15px; }
.filter_area_title h1 { font-size: 21px; font-weight: lighter; margin: 0; text-transform: uppercase; }
/*.filter_box { height: 160px; float: left; padding: 20px; width: 16.666%; }*/
.filter_area { }
.filter_title { color: #333; font-size: 18px; margin-bottom: 10px; text-transform: uppercase; position: relative; }
.shape_li_pull { display: inline-block; margin: 5px 0; width: 18%; }
.range-input .form-control { max-width: 140px; }
.range-inputs { padding-bottom: 30px; }
.clearfix.bDiv { position: relative; }
.clearfix.bDiv::before, .clearfix.bDiv::after { background-color: #fff; bottom: 0; content: ""; height: 80px; position: absolute; right: -15px; top: 0; width: 30px; z-index: 1; }
.step-top.step-active .clearfix.bDiv::after { background-color: transparent !important; border-color: transparent transparent transparent #dde5ed; border-style: solid; border-width: 40px 0 40px 35px; height: 0 !important; right: -15px !important; transform: none !important; width: 0 !important; }
.step-top.step-active .clearfix.bDiv::before { width: 35px; }
.shop-steps-three { margin-bottom: 20px; margin-top: 20px; }
.bDiv::after { border-color: #dde5ed; border-style: solid; border-width: 0 3px 3px 0; right: 5px !important; transform: rotate(-45deg); width: 80px !important; }
.bDivCont > img { height: 35px; margin-top: -17px; position: absolute; right: -15px; top: 50%; z-index: 2; }
.bDivCont { color: #313131; }
.filters_div { border-color: #dde5ed; border-style: none solid solid; border-width: medium 3px 3px; display: none; overflow: hidden; }
.filter_trigger { border-color: #dde5ed; border-style: solid; border-width: 0 3px 3px; color: #313131; display: inline-block; font-size: 16px; letter-spacing: 1px; padding: 10px; text-align: center; text-transform: uppercase; width: 300px; }
.filter_trigger.GREY_BG { background-color: #dde5ed; }
.mystylefont { font-size: 16px; text-transform: uppercase; }
.item-info-block { border-color: #dde5ed; border-style: solid; border-width: 0 1px; height: 500px; overflow: auto; width: 310px; position: absolute; right: -310px; top: 0; transition: all 0.5s; opacity: 0; background-color: #FFF; }
.item-block-wbtm { border-bottom: 1px solid #dde5ed; padding: 12px; }
.item-name { border-bottom: 1px solid; font-size: 20px; margin: 5px; padding: 10px; }
.item-price h2 { font-size: 28px; margin: 15px 0 0; }
.item-price { padding: 0 10px; }
.item-actions { border: 1px solid #dde5ed; margin: 30px 10px 10px; }
.item-actions-head { background-color: #dde5ed; padding: 10px; text-align: center; }
.item-action { border-bottom: 1px solid #dde5ed; padding: 10px; }
.item-props { margin: 10px; }
.item-prop { border-bottom: 1px solid; padding: 10px 0; }
.item-prop-label { float: left; }
.item-prop-value { float: right; }
.pr20 { padding-right: 20px; }
.pl20 { padding-left: 20px; }
.pl30 { padding-left: 30px; }
.cat-results.shown-details .items-table-container { width: calc(100% - 310px); }
.cat-results.shown-details .item-info-block { right: 0; opacity: 1; }
.cat-results { border: 3px solid #dde5ed; position: relative; overflow: hidden; }
.items-table-container { height: 500px; overflow: auto; width: 100%; transition: all 0.5s; }
.grey-bg > td { background-color: #dde5ed; }
.my-custom-list-table td { border-color: #dde5ed -moz-use-text-color !important; border-left: medium none !important; border-right: medium none !important; }
.my-custom-list-table tr:hover td { background-color: #7c94ac !important; }
.getting-data .loader-opacity-div {
    transform: scale(1);
}

/*.loader-opacity-div { 
    background-color: rgba(255, 255, 255, 0.95); bottom: 0; left: 0; position: absolute; right: 0; top: 0; 
        
        -webkit-transform: scale(0); 
        -moz-transform: scale(0); 
        -ms-transform: scale(0); 
        -o-transform: scale(0); 
        transform: scale(0); 

        -webkit-transform-origin: center center 0; 
        -moz-transform-origin: center center 0; 
        -ms-transform-origin: center center 0; 
        -o-transform-origin: center center 0; 
        transform-origin: center center 0; 
        
        -webkit-transition: all 0.5s ease 0s; 
        -moz-transition: all 0.5s ease 0s; 
        -ms-transition: all 0.5s ease 0s; 
        -o-transition: all 0.5s ease 0s; 
        transition: all 0.5s ease 0s; 
}
.loader-opacity-div > img { height: 30px; left: 50%; margin-left: -15px; margin-top: -15px; position: absolute; top: 50%; width: 30px; }
.loader-opacity-div {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: scale(0);
    transform-origin: center center 0;
    transition: all 0.5s ease 0s;
    width: 100%;
    z-index: 999;
}*/


.loader-opacity-div {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

/*.loader-opacity-div > img {
  background:url("images/gifbackimage.gif") repeat scroll 0 0 / 100% 100%;
  float: left;
  left: 10%;
  position: fixed;
  top: 5%;
  width: 80%;
}*/

.loader-opacity-div > img {
    float:left;
    left:50%;
    margin-left:-125px;
    margin-top:-125px;
    position:fixed;
    top:50%;
    width:250px;
}

.ticker-inputs { width: 100%; }
.ticker-table{
    table-layout: fixed;
}
.tick { 
    box-sizing: border-box; 
    display: inline-block; 
    font-size: 11px; 
    height: 60px; 
    padding: 5px; 
    position: relative; 
    text-align: center; 
    vertical-align: top; 
    text-transform: uppercase;
    width: 100%;
}

.tick::after { background-color: #526373; bottom: -9px; content: ""; height: 8px; position: absolute; right: 0; width: 1px; z-index: 11; }
.ticker-inputs table td:last-child .tick:after { display: none; }

.btn-clr { display: block; text-align: center; }
.btn-no-border > img { margin-right: 10px; vertical-align: middle; width: 18px; }
.btn-no-border { color: #031313; font-size: 20px; font-weight: lighter; height: 30px; line-height: 30px; padding: 10px 15px; }
.btn-border-grey { border-color: #dde5ed; border-style: solid; border-width: 3px 0 0 3px; color: #313131; font-size: 18px; padding: 10px 50px; }
.btn-border-grey > i { padding-right: 15px; }
.filter_title .info_title { height: 18px; margin-left: 15px; margin-top: -5px; cursor: pointer; }
.pop-title { margin: 0; }
.popover.mypop { border: 1px solid; border-radius: 0; }
.pop-title { border-bottom: 1px solid; font-family: Express; font-size: 15px; font-weight: lighter; letter-spacing: 1px; margin: 5px; padding: 10px 0; }
.close_pop { display: inline-block; float: right; padding: 1px 3px; }
.grey_box_con { background-color: #dde5ed; font-size: 13px; margin: 15px 0; padding: 10px 5px; }
.mbtn { background-color: #dde5ed; border: 1px solid #bbb; border-radius: 5px; display: inline-block; font-size: 12px; margin: 8px 4px; padding: 11px; cursor: pointer; }
.filter_title .popover-content > img { width: 120px; }
.filter_title .popover-content > p { font-size: 14px; line-height: normal; text-align: left; }
.popover.bottom .arrow { border-bottom-color: #000 !important }
.mbtn.active { background-color: #7c94ac; border-color: #666; color: #fff; }
.list_filters { position: relative; left: 0%; transition: all 0.5s; }
.disable-range .ticker-inputs { opacity: 0.5; }
.disable-range .range-inputs { opacity: 0.5; }
.checked_img { display: none; }
.checked-clr .checked_img { display: inline }
.checked-clr .unchecked_img { display: none }
.my-custom-list-table td.cell-polish{padding-left:15px;padding-right:0px;}
.my-custom-list-table td.cell-symm {
    padding-left: 18px !important;
    padding-right: 0;
}
.my-custom-list-table td.cell-cut {
    padding-left: 18px !important;
    padding-right: 0;
}
.range-inputs .range-input { width: 49%; }
span#counting1 {
  border: medium none;
  font-size: 10px !important;
  height: auto;
  line-height: normal;
  position: absolute;
  top: 14px;
  width: auto;
}
.main-container .data-table tr td.last {
    text-align: left;
}
span#counting1 {
  right: 16px;
}
#form-update-post .item-msg.error {
    color: rgb(255, 0, 0);
    font-size: 11px;
    line-height: 12px;
    width: 100%;
}
.banner_link {
  color: #231f20;
  font-family: Century Gothic;
  font-size: 39px;
  font-weight: normal;
  height: 100%;
  line-height: 39px;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 99;
}

.header-wrapper .header-container .newis-sticky .main-header .right-header-menu .header-search.searchform {
  border-left: 1px solid #eee !important;
  height: 70px;
}
.header-wrapper .header-container .newis-sticky.is-sticky .main-header .right-header-menu .header-search.searchform {
  border-left: 1px solid #eee !important;
  height: auto;
}
ul.nav-accordion li li > span {
  cursor: pointer;
  display: block;
  line-height: 35px;
  margin-left: 25px;
}
#reorder-validate-detail .button.btn-cart span {
  height: auto;
  line-height: normal;
}
#reorder-validate-detail .button.btn-cart {
  height: 33px;
  margin-bottom: 5px;
  max-width: 120px;
  padding: 0;
  text-align: center;
  width: 100%;
}
#reorder-validate-detail .actions > a {
  clear: both;
  display: block;
}
#reorder-validate-detail .actions {
  padding: 0;
}

#reorder-validate-detail {
  padding: 0 0 0 16px;
}
#wishlist-table .add-to-cart-alt .button.btn-cart {
  height: 30px;
}
#wishlist-table .add-to-cart-alt .button.btn-cart {
  float: right;
  height: 30px;
}
#wishlist-table .add-to-cart-alt .button.btn-cart span {
  height: auto;
  line-height: normal;
  max-width: 121px;
  padding: 0 4px;
}
#wishlist-table .add-to-cart-alt input {
  height: 28px;
  margin-top: 5px;
  max-width: 70px;
}
.main-configurable {
  clear: both;
}
.category-products .products-grid .product-image img, .category-products .products-list .product-image img {
  margin: 0 auto;
}
body > section.main-container{
  margin-top: 73px;
}
.main-wrapper {
  margin-top: 35px;
}
.checkout-cart-index .main-container .main-breadcrumbs {
  background-color: transparent;
  border: medium none;
}
.main-breadcrumbs {
  margin-bottom: 15px;
}
.sections.main-color {
  display: none !important;
}
.sections.main-colour {
  display: none !important;
}
.actions-wrapper {
  clear: both;
}
h2.recently-title {
  clear: both;
}
.header-search.searchform.mobilesrh {
  display: none;
}
body.cms-home > section.main-container {
    margin-top: 0;
}
.subspan {
  font-size: 12px !important;
}
 .products-grid .itemwedding .product-content h3.product-name {
  line-height: 14px;
  margin: 0;
}
body .category-products .products-grid .itemwedding .product-content {
  padding: 5px 0 !important;
}
.signup {
  max-width: 165px;
  width: 100%;
}
.login_fb img {
  width: 100% !important;
}

.custom-page-table td {
  padding: 5px;
}
.jewellery {
  display: inline-block;
  margin: 20% 8% 0 0;
}
.wedding_banner {
  display: inline-block;
  margin: 61% 10% 0 0;
  width: 205px;
}
.jewellerygifts .ulmenu-block > ul > li .menu-wrapper {
  min-height: 194px;
}

.itemwedding{
  width: 31%;
    float: left;
    margin-left: 1.75%;
    margin-right: 1.75%;
}
.itemwedding:nth-child(3n+1) {
  clear: left;
  margin-left: 0;
}

.itemwedding:nth-child(3n+3) {
  margin-right: 0;
}
.banner_popup_img1 {
  width: 100%;
}
body > .form-overlay_ring_sizer .contact-form {
  padding: 0 0 15px;
}
.ring_sizer_content_form {
  display: inline-block;
  padding: 0 20px;
  width: 100%;
}
.ring_sizer {
  margin: 5px 0;
}
.form-overlay_ring_sizer .contact-form > header {
  padding: 0 15px;
}
.cms-free-ring-sizing {
  position: relative;
}
.main_ring_check label {
  font-weight: bold !important;
}
.main_ring_check .icheckbox_square-aero.checked {
  margin-right: 8px;
}
.banner_popup_img2 {
  width: 100%;
}
.ring_steps li {
  display: inline-block;
  width: 20%;
}
.ring_steps .ring_plus, .ring_steps .ring_plus2 {
  height: 25px;
  width: 25px;
}
.ring_steps .ring_plus, .ring_steps .ring_plus2 {
  font-size: 35px;
  height: auto;
  margin: 0 5px;
  vertical-align: middle;
  width: 28px;
}
.ring_steps h2 {
  color: #333;
  font-weight: 100;
  margin-bottom: 15px;
}
.col-bottom-appearence img {
  max-width: 130px;
  width: 100%;
}
.col-bottom-appearence > h3{margin-top: 0;}
.col-bottom-appearence > h3, .col-bottom-appearence > h4 {
  color: #000;
  font-size: 35px;
}
.col-bottom-appearence > h4{font-weight: bold;}
.col-bottom-appearence li {
  display: inline-block;
  vertical-align: middle;
}
.col-bottom-appearence li.appearence_after {
  color: #000;
  font-size: 90px;
  font-weight: bold;
}
.traditional_retail {
  background-color: #f1f1f2;
  display: inline-block;
  margin-top: 15px;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}
.traditional_retail h3 span {
  display: block;
}
.traditional_retail > h3.retail_content_3 {
  margin-top: 50px;
}
.col-bottom-appearence {
  background-color: #e6e7e8;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.traditional_retail > ul::before {
  background-color: #000;
  content: "";
  display: block;
  height: 1px;
  margin: 0 auto;
  position: relative;
  top: 29px;
  width: 69%;
}
.traditional_retail > ul {
  display: inline-block;
  width: 90%;
}
.traditional_retail .traditional_content_2 li:last-child {
  float: right;
}
.traditional_retail .traditional_content_2 li:first-child {
  float: left;
}
.traditional_retail li > span {
  display: block;
  margin-top: 10px;
  width: 80px;
}
.col-bottom-appearence {
  display: inline-block;
  margin: 35px 0 0;
  padding: 25px 0;
  text-align: center;
  width: 100%;
}
.traditional_retail li {
  background-color: #f1f1f2;
  display: inline-block;
  margin: 0 48px;
  padding: 0 17px;
  position: relative;
  vertical-align: top;
  z-index: 9;
}
.traditional_retail img {
  max-width: 55px;
}
.retail_banner {
  margin: 12px 0 0;
}
.story_retail_banner {
  margin: 0px 0 0;
}
.col-bottom-story_appearence {
  background-color: #fff;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.col-bottom-story_appearence_showroom {
  background-color: #fff;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding:5% 0;
  color:#000;
}
.col-bottom-story_appearence img {
  max-width: 395px;
  width: 100%;
}
.col-bottom-story_appearence > p {
    color: rgb(0, 0, 0);
    font-size: 24px;
    line-height: 35px;
    padding: 0 10%;
}
.col-bottom-story_appearence > h3{margin-top: 0;}
.col-bottom-story_appearence > h3, .col-bottom-story_appearence > h4 {
  color: #000;
  font-size: 25px;
}
.col-bottom-story_appearence > h4{font-weight: bold;}
.col-bottom-story_appearence li {
  display: inline-block;
  margin: 6px 2.3px 0 0;
  vertical-align: middle;
}
.col-bottom-story_appearence li.appearence_after {
  color: #000;
  font-size: 90px;
  font-weight: bold;
}
.traditional_retail > h3 {
  color: #000;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}
.retail_banner > img {
  width: 100%;
}
.ring_steps {
  clear: both;
  display: inline-block;
  margin-top: 20px;
}
.ring_sizer_content_form.content_top .ring_sizer > img {
  width: 100%;
}
.content_top .form-control {
  height: 50px;
}
.ring_sizer_content_form.content_top .form-control.gender, .ring_sizer_content_form.content_top .form-control.age, .ring_sizer_content_form.content_top .form-control.unit_no, .ring_sizer_content_form.content_top .form-control.postal_code {
  height: 36px;
}
.ring_sizer_content_form.content_top .form-control.address {
  height: 120px;
  margin: 0 0 8px;
  resize: none;
}
.content_top section > .row {
  margin-bottom: 14px;
}
.content_top .popup_content {
  padding: 0 16px;
}
.content_top .main_ring_check {
  padding: 14px 0 0;
}

.content_top .popup_content {
  margin-bottom: 10px;
  margin-top: 25px;
  padding: 0 16px;
}
.content_top .popup_content {
  font-size: 17.4px;
  margin-bottom: 10px;
  margin-top: 25px;
  padding: 0 16px;
}
.content_top .main_ring_check {
  padding: 14px 0;
}
.content_top .col-md-6 > p {
  font-size: 15px;
  font-weight: normal;
  line-height: 19px !important;
  text-align: justify;
}
.content_top .icheckbox_square-aero, .iradio_square-aero {
  height: 24px;
  margin-right: 5px;
}
.form-overlay_ring_sizer .contact-form.plastic_size {
  padding:0 0 50px;
}
.contact-form.plastic_size .ring_sizer_content_form {
  display: inline-block;
  padding: 0 48px;
  width: 100%;
}
.content_top .col-md-6 > label {
  font-size: 15px;
}

.footer_seenus > h4 {
  color: #000;
  margin-bottom: 30px;
  margin-top: 20px;
}

.footer_logo .last_child img {
  max-width: 90px;
}
.postContent .separator {
    display: block !important;
}
.ulmenu-block .nav_news_img {
  /*max-width: 136px;*/
  width: 100%;
}
.news_link > a::before {
  content: "" !important;
}
.ulmenu-block .nav_news_img.first {
 /* max-width: 78px;*/
}

@media (min-width:639px){
	.itemgrid .item:nth-child(3n+1) { margin-left:0;}
.itemgrid .item:nth-child(3n+3) { margin-right:2%;}

	}
@media (max-width:1280px){
.sticky-wrapper ul.nav-accordion li span.expand {
    height: 33px;
    top: 0px;

}
.sticky-wrapper ul.nav-accordion li span.collapse {
  
    height: 33px;
    top: 0px;
}
    .nav_news_img.sec, .nav_news_img.first {
  margin-top: 0;
}
		header.header-wrapper ul.nav-accordion li.image_1 a {
  display: inline-block;
  height: auto;
  margin-bottom: 16px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 16px;
  padding-bottom: 7px;
  width: 100%;
}
.header-wrapper .header-container .header-search #search_mini_form .form-search button.search-button span, .header-wrapper .header-container .header-search #search_mb_mini_form .form-search button.search-button span {
  font-size: 24px;
  height: 55px;
  line-height: 50px;
  width: 60px;
}
.header-wrapper .header-container .main-header .right-header-menu .header-search .search-container .switcher-content #search_mb_mini_form {
  width: 320px;
}
.header-wrapper .header-container .main-header .right-header-menu .header-search .search-container .switcher-content {
  right: -150px;
  top: 56px !important;
}
.nav_news_img {
  max-width: 100px;
}
header.header-wrapper ul.nav-accordion li.image_1 {
  display: inline-block;
  width: 100%;
}

		.header-content ul.nav-accordion li {
  font-family: Montserrat,arial,serif;
}
		.setting-switcher .overwrite-setting span {
  background-image: url("images/setting-icon.png") !important;
  background-position: center center;
  background-repeat: no-repeat;
}
.setting-switcher .overwrite-setting span:before{ opacity:0;}
.header-wrapper .header-container .main-header .right-header-menu .header-search .search-container .overwrite-setting, .header-wrapper .header-container .main-header .right-header-menu .cart-container .icon-cart-header span, .header-wrapper .header-container .is-sticky .main-header .right-header-menu .cart-container .icon-cart-header span, .header-wrapper .header-container .is-sticky .main-header .right-header-menu .header-setting .setting-switcher .overwrite-setting span, .header-wrapper .header-container .main-header .right-header-menu .header-setting .setting-switcher .overwrite-setting span {
  line-height: 50px;
}
.is-sticky #mobile-sticky .overwrite-setting {
  line-height: 50px;
}
#mobile-sticky .overwrite-setting {
  line-height: 70px;
}
.header-wrapper .header-container .is-sticky .navbar .navbar-header .navbar-toggle {
  margin-top: 13px;
}
	.cms-index-index .header-wrapper .header-container .navbar .navbar-toggle .icon-bar {
  background-color: #333 !important;
}
.navbar ul.nav-accordion ul {
  font-size: 14px;
  padding: 0 0 0 18px;
}
}
@media (max-width:1200px){
	.cms-index-index .header-wrapper .header-container .navbar .navbar-toggle .icon-bar {
  background-color: #333 !important;
}
.header-wrapper .header-container .navbar .navbar-header .navbar-toggle {
  margin-top: 21px;
}
.header-wrapper .header-container .is-sticky .navbar .navbar-header .navbar-toggle {
  margin-top:13px;
}
.banner_link {
  font-size: 30px;
    line-height: 30px;

}
.product-view .product-collateral .tab-content .tab-pane table.setting_tabcss {
  width: 50% !important;
}
.nav-accordion.nav-mobile-accordion #recentlysold-mobmenu > a.recently-purchased {
  height: auto;
  width: 15% !important;
}
.nav-accordion.nav-mobile-accordion #recentlysold-mobmenu {
  display: inline-block;
  margin-left: 18px;
}
.footer_logo img {
  max-width: 110px;
}
.footer_logo .last_child img {
  max-width: 70px;
}
	}
@media (max-width:1024px){
.header-content ul.nav-accordion li {
  line-height: 20px;
}	
.header-content ul.nav-accordion li::before {
  top: 7px;
}
.header-content ul.nav-accordion li:hover::before {
  top: 7px;
}
.header-wrapper .header-container .newis-sticky .main-header .right-header-menu .header-setting .setting-switcher .overwrite-setting span {
  width: 63px;
}
.header-wrapper .header-container .newis-sticky .main-header .right-header-menu .cart-container .icon-cart-header span {
  line-height: 70px;
  width: 55px;
}
.is-sticky span#counting1 {
  right: 9px;
  top:4px ;
}
span#counting1 {
  right: 6px;
}
.container #owl-stnpromotion .owl-wrapper-outer {
  margin-top: 92px !important;
}
.header-wrapper .header-container .newis-sticky .main-header .logo img {
  padding: 15px 0 0 5px;
}
body section.main-container {
  margin-top: 0px;
}
#mobile-sticky-sticky-wrapper {
  border-bottom: medium none;
}
}
@media (max-width:991px){
.wedding_banner {
  width: 175px;
}
.banner_link {
  font-size: 23px;
  line-height: 25px;
}
.product-view .product-collateral .tab-content .tab-pane table.setting_tabcss {
  width: 65% !important;
}
body header.header-wrapper .navbar .nav-accordion.nav-mobile-accordion li span.expand {
  background-position: 97.5% center;
}
	}

@media (max-width:1200px) and (min-width:992px){
#recentlysold .owl-item {
  width: 106px !important;
}
#recentlysold a.recently-purchased {
  width: 95% !important;
}
	#recentlysold a.recently-purchased .img-responsive {
  width: 100% !important;
}
.product-view .product-collateral .nav-tabs li a {
  padding: 0 18px;
}

	}
@media (max-width:991px) and (min-width:767px){
#recentlysold .owl-item {
  width: 106px !important;
}
}

@media (max-width:768px) and (min-width:420px){
#recentlysold a.recently-purchased {
  width: 95% !important;
}
#recentlysold .owl-wrapper > .owl-item {
  width: 75px !important;
}	}
@media (min-width:1200px){.product-name {
  width: 80%;
  word-wrap: break-word;
}
}
@media (max-width:1200px){
.main-container.col2-left-layout {
  clear: both;
}
.cart-collaterals .col-lg-4.col-md-4.col-sm-12.col-xs-12 {
  width: 100%;
}
.cart-collaterals .col-md-8.cart-form {
  width: 100%;
}
#shopping-cart-table {
  width: 100%;
}
#product-options-wrapper > .row > .col-md-6 {
  clear: both;
}
}
@media (max-width:1084px){
	#product-options-wrapper form {
  float: left;
  width: 50%;
}
.product-view .product-shop .product-type-data .price-box .regular-price .price {
  font-size: 18px;
}
#couple_womenmen_price .price {
  font-size: 18px !important;
}

#couple_womenmen_price_mob .price {
  font-size: 18px !important;
}
.product-view .womencss, .product-view .mencss {
  display: inline-block;
  width: 100%;
}
.bootstrap-select.btn-group .dropdown-menu {
  max-height: 200px !important;
}
.product-view .btn.dropdown-toggle.btn-default {
  max-width: none;
  min-width: 148px;
  padding: 8px 10px;
  width:100%;
}

#product-options-wrapper .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: auto;
}
.breadcrumbs .product {
  max-width: 40%;
}
}
@media (max-width:1024px){
.product-view .product-options-bottom .add-to-cart {
  padding: 22px 17px;
}
.product-view .product-shop {
  width: 100%;
    padding-top:15px

}
.main-metals, .main-metal, .main-ring_size, .main-engraving, .review-product-details {
  padding: 20px 25px 0 !important;
}
#men_product_addtocart_form .short-description-detail {
  padding-left: 25px !important;
}
#men_product_addtocart_form .product-type-data {
  padding-left: 25px;
}
#men_product_addtocart_form .short-description-detail .short-description {
  padding-left: 0;
}
.product-type-data .availability.in-stock {
  display: block;
  float: none;
  clear: both;
}
.product-img-box.col-md-6.col-sm-6 {
  float: none;
  margin: 0 auto 0;
  width: 75%;
}
.main-color {
  border-bottom: medium none;
  float: left;
  padding: 20px 25px 0 !important;
}
/*#product-options-wrapper .sections.main-metals {
  float: right !important;
}
*/
#couple_men_product_addtocart_form .sections.main-ring_size {
  clear: both;
}
.sections.col-md-6.main-engraving {
  padding-left: 25px;
}
.sections.col-md-6.main-ring_size {
  padding-left: 25px;
}
#product_tabs_women_information .short-description-detail, #product_tabs_women_information .product-type-data {
  padding-left: 25px;
}
#product_addtocart_form .product-options-bottom .add-to-cart, #product_addtocart_form .middle-product-detail .product-type-data, #product_addtocart_form .short-description-detail {
  padding-left: 25px;
}
 #product_addtocart_form .short-description{ padding-left:0;}
 .product-type-data{ clear:both;}
 	.sections.col-md-6.main-engraving, .sections.col-md-6.main-ring_size, #product-options-wrapper .sections.main-metals,  #product-options-wrapper .sections.main-metal {
  width: 50%;
}
.sections.col-md-6.main-color, .sections.col-md-6.main-colour, .sections.col-md-6.main-metals, .sections.col-md-6.main-metal {
  width: 50%;
  float:left;
}
#couple_men_product_addtocart_form .sections.main-metals, #couple_women_product_addtocart_form .sections.main-metals, #couple_men_product_addtocart_form .sections.main-metal, #couple_women_product_addtocart_form .sections.main-metal {
  width: 100%;
}
.product-view .product-img-box .product-img-list .more-views-verticle .media-list .verticl-carousel a {
  width: auto;
}
#mobile-sticky .overwrite-setting {
  line-height: 70px;
}
#mobile-sticky .overwrite-setting span{ width:auto;}
.is-sticky #mobile-sticky .overwrite-setting {
  line-height:50px;
}
}
@media (max-width:991px){
	
.category-products .products-grid .itemwedding .product-action .product-image {
  height: 220px;
}
.category-products .products-grid .itemwedding .product-action {
  height: 220px;
}
.category-products .products-grid .item .product-action .product-image {
  height: 220px;
}
.category-products .products-grid .item .product-action {
  height: 220px;
}
.product-view .product-collateral .nav-tabs li {
  display: block;
  width: 100%;
  text-align: center; border-left:1px solid #dcdcdc;
}
.navbar ul.nav-accordion li span.collapse {
  background-position: 98% -25px;
}
.navbar .nav-accordion.nav-mobile-accordion li span.expand {
  background-position: 97.6% -35px;
}
}
@media (max-width:920px){
	.product-essential .product-img-box {
  width: 100%;
}
.main-metals, .main-metal {
  display: block;
  float: none;
  width: 100%;
}
.product-view .product-collateral .nav-tabs li {
  display: block;
  width: 100%;
  text-align: center;
}
	} 
	@media (max-width:840px){
		#shopping-cart-table td {
  width: 100% !important;
}
.cart > .title-buttons > h1 {
  font-size: 24px;
  margin: 0;
}
.cart-blocks-h {
  font-size: 14px;
  padding-left: 15px;
}
.main-container .cart-collaterals .totals tr td, .main-container .cart-collaterals .totals tr td strong {
  font-size: 16px;
  padding: 5px;
}
.td-product-name .product-name {
  text-align:left;
}
.main-container .breadcrumbs ul li {
  line-height: normal;
}
.main-container .breadcrumbs {
  line-height: normal;
  padding: 10px;
}
.main-container .breadcrumbs ul li {
  line-height: normal;
  min-height: 20px;
}
.main-container .breadcrumbs ul li a {
  line-height: normal;
}

}
@media (max-width:768px){.recently-title {
  clear: both;
}
#product_addtocart_form .middle-product-detail .review-product-details {
  padding-left: 17px;
}
	.page-diamonds .item-list-table.table-offset {
  display: inline-block;
  width: 820px !important;
  overflow-x:auto;
}
.page-diamonds .diamonds-table.diamonds-table-header.table-fixed.text-center {
  border: medium none !important;
  max-width: none;
  width: 820px !important;
}

.cat-results.page-diamonds .items-table-container .item-list-all{
  overflow-x:scroll;
}
.cat-results > .item-info-block {
  width: 100%;
  z-index:999;
  right:100%;
}
.cat-results .details-img-holder img {
  display: inline-block;
  float: none;
  margin: 0 auto;
  max-width: 310px;
  width: 39%;
}

}
@media (max-width:767px){
._std > table {
  margin-left: 0!important;
  float: none!important;
}
#shopping-cart-table td.td-cart-price {
  padding: 10px !important;
}	
	.main-container .breadcrumbs ul li a {
  line-height: normal;
}
#product_tabs_custom_information .thumb-link {
  width: auto;
}
.product-tabs-content-inner .withpurchase ul li {
  width: 100%;
}
#shopping-cart-table thead {
  display: none;
}
body .product-view .product-img-box .product-img-list .more-views-verticle .media-list .verticl-carousel a {
  width: auto;
}
.td-cart-price::before {
  content: "Cart-price";
  float: left;
  text-align: left;
    width: 45%;

}
.increment_decrement_qty::before {
  content: "Quantity";
  float: left;
  text-align: left;
    width: 45%;

}
.td-product-name::before {
  content: "Product Name";
  display: block;
  float: none;
  margin: 0 auto;
  text-align: center !important;
}
.td-subtotal::before {
  content: "Subtotal";
  float: left;
  text-align: left;
    width: 45%;

}
.a-center.product-qty.remove-item.last::before {
  content: " Action";
  float: left;
  text-align: left;
  width: 45%;
  
}
.td-wishlist::before {
  content: "Move to Wishlist";
  float: left;
  text-align: left;
  width: 45%;
}
#shopping-cart-table .td-product-name .product-name, #shopping-cart-table .a-center.td-wishlist, #shopping-cart-table .td-cart-price, #shopping-cart-table .increment_decrement_qty, #shopping-cart-table .td-subtotal, .a-center.product-qty.remove-item.last {
  text-align: left !important;
}


.dashboard .page-title h1 {
  font-size: 24px;
  padding-left: 0 !important;
}
.category-products .products-grid .itemwedding .product-action .product-image, .category-products .products-grid .itemwedding .product-action {
  height:200px;
}

.my-wishlist h1 {
  font-size: 24px;
}
#shopping-cart-totals-table td, shopping-cart-totals-table td {
  font-size: 15px;
} 
#checkout-review-table-wrapper {
  display: block;
  overflow-x: scroll;
}
#checkout-review-table {
  width: 640px;
}
body section.main-container {
  margin-top: 55px;
}
.product-view .product-collateral .tab-content .tab-pane table.setting_tabcss {
  width: 80% !important;
}
.filter_box.shape .popover.fade.bottom, .filter_box.cut .popover.fade.bottom, .filter_box.depth .popover.fade.bottom, .filter_box.polish .popover.fade.bottom {
  left: 5px !important;
}
.filter_box.shape .popover.bottom .arrow, .filter_box.cut .popover.bottom .arrow, .filter_box.depth .popover.bottom .arrow, .filter_box.polish .popover.bottom .arrow{
  left: 26%;
}
.filter_box.carat .popover.fade.bottom, .filter_box.clarity .popover.fade.bottom, .filter_box.fluorescence .popover.fade.bottom {
  left: auto !important;
  right: 5px !important;
}
.filter_box.carat .popover.bottom .arrow, .filter_box.clarity .popover.bottom .arrow, .filter_box.fluorescence .popover.bottom .arrow {
  left: 50% !important;
}
.footer_logo > li {
  display: block;
  margin-bottom: 15px;
  margin-right: 0;
  text-align: center;
}

}
@media (max-width:720px){
#wishlist-table {
  width: 680px;
}
.my-wishlist {
  display: block;
  overflow-x: scroll;
}

}

		@media (max-width:650px){
			.filter_box.shape .popover.bottom .arrow, .filter_box.cut .popover.bottom .arrow, .filter_box.depth .popover.bottom .arrow   {
  left: 56px;
}

		}
		@media (max-width: 639px) {
.itemwedding {
 width:48.2%; clear:none !important;
}
.itemwedding:nth-child(2n+1) {
  clear: left !important;
  margin-left: 0 !important;
}
.itemwedding:nth-child(2n+2) {
  margin-right: 0 !important;
}
.itemgrid.itemgrid-adaptive .item:nth-child(2n+1) {
  margin-left: 0;
}
.itemgrid.itemgrid-adaptive .item:nth-child(2n) {
  margin-right: 0;
}		
}
@media (max-width:620px){
			.product-img-box.col-md-6.col-sm-6 {
  float: none;
  margin: 0 auto;
  width: 100%;
}
.product-view .product-img-box .product-img-list .product-image {
  /*width: 68% !important;*/
}
.main-container .my-account .dashboard .box-account {
  overflow-x: scroll;
  overflow-y: auto;
}
.main-container #my-orders-table.data-table {
  display: table;
  min-width: 561px;
}
 #shopping-cart-table .a-center.td-wishlist, #shopping-cart-table .td-cart-price, #shopping-cart-table .increment_decrement_qty, #shopping-cart-table .td-subtotal, .a-center.product-qty.remove-item.last {
  text-align: right !important;
}
.td-product-name ul {
  margin-left: 0;
}
.td-subtotal::before, .a-center.product-qty.remove-item.last::before, .increment_decrement_qty::before, .td-cart-price::before, .td-wishlist::before, .td-product-name::before, .td-wishlist::before {
  width: auto;
}
.td-product-name div .product-name {
  margin-left: auto !important;
}
.category-products .products-grid .itemwedding .product-action .product-image, .category-products .products-grid .itemwedding .product-action {
  height:180px;
}

.category-products .products-grid .itemwedding .product-action .product-image, .category-products .products-grid .itemwedding .product-action {
  height: 225px;
}
body .block-wishlist #wishlist-sidebar .item .product-details .btn-remove {
  right:-57px;
}
.block-wishlist #wishlist-sidebar .item .product-details {
  width: 75%;
  word-wrap: break-word;
}
}
@media (max-width:600px){
	.mCSB_container .popover.bottom {
  left: 10px !important;
  margin-top: 10px;
}
.mCSB_container .popover.bottom .arrow {
  left: 14%;
}
.mCSB_container .item-prop {
  padding-left: 5px;
  padding-right: 5px;
}
.mystylefont.compare-results {
  padding-left: 7px;
  padding-right: 7px;
}
.product-view .product-collateral .tab-content .tab-pane table.setting_tabcss{
 width: 70% !important;
}
.product-view .product-collateral .tab-content .tab-pane table.setting_tabcss {
  width: 100% !important;
}
.cat-results .details-img-holder img {
  display: inline-block;
  float: none;
  margin: 0 auto;
  max-width: 310px;
  width: 42%;
}
.owl-wrapper-outer .blog-item-wrapper {
  margin: 5px 36px;
}
.std {
  padding: 0 10px;
}

}
@media (max-width:520px){
.main-engraving {
  width: 100%;
}
.main-ring_size {
  width: 100%;
}
#product-options-wrapper form {
  float: none;
  width: 100%;
}
.product-shop-wrapper .middle-product-detail > div > div {
  float: none;
  width: 100%;
}
.header-wrapper .header-container .header-search #search_mini_form .form-search button.search-button span {
  width: auto;
}

.header-wrapper .header-container .header-search #search_mini_form .form-search{
  padding-right: 46px;
  position: static;
}
.header-wrapper .header-container .header-search #search_mini_form .form-search .input-group-btn button.btn, .header-wrapper .header-container .header-search #search_mb_mini_form .form-search .input-group-btn button.btn {
  padding: 0 8px;
}
header .top-container {
  margin-top: 70px;
}
.product-view .first-col .review-product-section, .product-view .second-col .review-product-section {
  padding: 20px 10px 0;
}
#product_tabs_custom_information .col-md-6.mencss {
  padding-left: 25px;
}
#product_tabs_custom_information .col-sm-6.second-col {
  padding-left: 25px;
}
.short-description-detail .short-description {
  padding: 0 !important;
}
.product-view .womencss, .product-view .first-col {
  border-right: medium none !important;
}
.category-products .products-grid .itemwedding .product-action .product-image, .category-products .products-grid .itemwedding .product-action {
  height: 200px;
}

#product_addtocart_form .sections.col-md-6.main-metals, #product_addtocart_form .sections.col-md-6.main-metal,
#product_addtocart_form .sections.col-md-6.main-color, #product_addtocart_form .sections.col-md-6.main-ring_size,
#product_addtocart_form .sections.col-md-6.main-engraving, #men_product_addtocart_form .sections.col-md-6.main-metals,
#men_product_addtocart_form .sections.col-md-6.main-metal, #women_product_addtocart_form .sections.col-md-6.main-metals,
#women_product_addtocart_form .sections.col-md-6.main-metal, #men_product_addtocart_form .sections.col-md-6.main-ring_size,
#women_product_addtocart_form .sections.col-md-6.main-ring_size, #men_product_addtocart_form .sections.col-md-6.main-engraving,
#women_product_addtocart_form .sections.col-md-6.main-engraving, #men_product_addtocart_form .sections.col-md-6.main-color,
#women_product_addtocart_form .sections.col-md-6.main-color {
  width: 100%;
}
.product-image.product-image-zoom, .product-view .product-img-box .product-img-list .product-image img {
  height: 345px !important;
}
.product-view .product-collateral .tab-content .tab-pane table.setting_tabcss{
 width: 70% !important;
}
.filter_box.carat .popover.bottom .arrow, .filter_box.clarity .popover.bottom .arrow, .filter_box.fluorescence .popover.bottom .arrow {
  left: auto !important;
  right: 40% !important;
}
body .block-wishlist #wishlist-sidebar .item .product-details .btn-remove {
  right:-57px;
}
.block-wishlist #wishlist-sidebar .item .product-details {
  width: 73%;
  word-wrap: break-word;
}
.category-products .products-grid .item .product-action .product-image{height:166px!important;}
.category-products .products-grid .item .product-action{height:166px!important;}
/*.category-products .products-grid .product-image img, .category-products .products-list .product-image img{height:290px!important;}*/
.product-view .product-collateral .nav-tabs li.active a::before{opacity:0!important;}
.product-view .product-collateral .nav-tabs li.active a{background-color:#99aec2!important;color:#ffffff!important;}
.product-view .product-collateral .nav-tabs li a::before{opacity:0!important;}
body .product-view .product-img-box .product-img-list .more-views-verticle .media-list, body .product-view .product-img-box .product-img-list .more-views-verticle{display:none!important;}
}
@media (max-width:360px){
.category-products .products-grid .item .product-action .product-image{height:290px!important;}
.category-products .products-grid .item .product-action{height:290px!important;}
.product-image.product-image-zoom, .product-view .product-img-box .product-img-list .product-image img{height:290px!important;}
}
/*.header-wrapper .header-container .navbar .bs-navbar-collapse{top:0px!important;padding-top:50px;}
.header-wrapper .header-container .navbar .navbar-header{z-index:1001;position:relative;background:#fff;border-bottom: 1px solid #eee;}
.header-logo.pull-left{position:relative;z-index:9999;}
.header-wrapper .header-container .main-header .right-header-menu{z-index:1001;background:#fff;border-bottom: 1px solid #eee;}
.nav-accordion.nav-mobile-accordion{padding-bottom:3px!important;}
.sticky-wrapper.newis-sticky.is-sticky > #mobile-sticky{background:#fff!important;height:40px;}*/
/*.sticky-wrapper.newis-sticky.is-sticky .nav-accordion.nav-mobile-accordion{padding-bottom:3px!important;padding-top:50px;}*/

@media (max-width:480px){

.header-wrapper .header-container .sticky-wrapper.newis-sticky .navbar .bs-navbar-collapse{top:71px;}
.header-wrapper .header-container .sticky-wrapper.newis-sticky.is-sticky .navbar .bs-navbar-collapse{top:50px;}
.header-wrapper .header-container .sticky-wrapper.newis-sticky .navbar .bs-navbar-collapse.in .nav-accordion.nav-mobile-accordion{padding-bottom:85px;}


.col-bottom-story_appearence > p {
    font-size:12px;
    line-height:19px;
}
.product-view .product-img-box .product-img-list .product-image {
  width: 100% !important;
}
body .product-view .product-img-box .product-img-list .more-views-verticle .media-list .verticl-carousel a {
  height:auto;
}
body .product-view .product-img-box .product-img-list .more-views-verticle .media-list, body .product-view .product-img-box .product-img-list .more-views-verticle {
  height: auto;
  overflow: hidden;
  width: auto;
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
  bottom: 62px;
}
body .product-view .product-img-box .product-img-list .more-views-verticle .media-list .verticl-carousel a {
  width: auto;
}
.main-container .my-account .dashboard .box-account .col2-set .col-1, .main-container .my-account .dashboard .box-account .col2-set .col-2  {
  width: 100%;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal, .jcarousel-skin-tango .jcarousel-next-horizontal{
  display:none!important;height:32px;left:5px;position:absolute;top:59px;width:32px;
}
body .jcarousel-skin-tango .jcarousel-container-horizontal {
  padding: 20px 0;
  margin-left:0;
}
.product-view .product-collateral .tab-content .tab-pane table.setting_tabcss{
 width: 100% !important;
}
.col-main .page-title h1 {
    padding-left: 0px !important;
}
.cat-results .details-img-holder img {
  display: inline-block;
  float: left;
  margin: 0 auto;
  max-width: 310px;
  width: 50%;
}

}
@media (max-width:420px){
    
.category-products .products-grid .itemwedding .product-action .product-image, .category-products .products-grid .itemwedding .product-action {
  height: 162px;
}
.mCSB_container .d-shapes-popover.popover.bottom {
  max-width: 466px !important;
  width: 308px !important;
}
.mCSB_container .popover-content {
  padding: 9px 0;
}
.product-view .product-collateral .tab-content .tab-pane table.setting_tabcss{
 width: 100% !important;
}
.col-main .page-title h1 {
    padding-left: 0px !important;
}
.filter_box.carat .popover.bottom .arrow, .filter_box.clarity .popover.bottom .arrow, .filter_box.fluorescence .popover.bottom .arrow {
  left: auto !important;
  right: 21% !important;
}
body .d-shapes-popover.popover.bottom {
  max-width: 466px !important;
  width: 300px !important;
}
.popup_newsletter .banner-img-newsletter {
  left: -50px;
}
body .block-wishlist #wishlist-sidebar .item .product-details .btn-remove {
  right: -49px;
}
}
@media (max-width:360px){.jcarousel-skin-tango .jcarousel-container-horizontal {
  width: 180px !important;
}
    body .header-wrapper .header-container .header-maincart,
    body .header-wrapper .header-container .header-setting  {
  width: 30px !important;
}
 body .header-wrapper .header-container .header-maincart span,
    body .header-wrapper .header-container .header-setting span  {
  width: auto!important;
}
   .content-ring-diamonds li{
   width: 100%  !important;
   margin:0  !important;
}
.category-products .products-grid .itemwedding .product-action .product-image, .category-products .products-grid .itemwedding .product-action {
  height: 260px;
}
.product-view .product-collateral .tab-content .tab-pane table.setting_tabcss{
 width: 100% !important;
}
.col-main .page-title h1 {
    padding-left: 0px !important;
}
.filter_box.carat .popover.bottom .arrow, .filter_box.clarity .popover.bottom .arrow, .filter_box.fluorescence .popover.bottom .arrow {
  left: auto !important;
  right: 15% !important;
}

#popup_newsletter .login_fb {
  margin: 0 auto;
}
#popup_newsletter .sign_up_email {
  margin-bottom: 5px;
  margin-top: 20px;
}
.block-wishlist #wishlist-sidebar .item .product-details {
  width: 68%;
}
}
@media (max-width:320px){
.jcarousel-skin-tango .jcarousel-container-horizontal {
  width: 190px !important;
}

body .jcarousel-skin-tango .jcarousel-next-horizontal {
  top: 60px;
    right: 38px;

}
body .jcarousel-skin-tango .jcarousel-prev-horizontal {
  top: 60px;
}
.category-products .products-grid .itemwedding .product-action .product-image, .category-products .products-grid .itemwedding .product-action {
  height: 240px;
}

.product-view .product-collateral .tab-content .tab-pane table.setting_tabcss{
 width: 100% !important;
}
.col-main .page-title h1 {
    padding-left: 0px !important;
}
#popup_newsletter .block-content {
  margin-left: 7px !important;
}
#popup_newsletter .banner-img-newsletter {
  left: -40px;
  width: 576px !important;
}
#cboxContent form#popup-newsletter-validate-detail {
  margin-top: -58px;
}
#cboxContent {
  height: 258px !important;
}
.banner-img-newsletter {
  display: block;
}
.banner-img-newsletter {
  position: absolute;
  top: -53px;
}
}
.fields select {
    border-color: rgb(229, 229, 229) -moz-use-text-color rgb(229, 229, 229) rgb(229, 229, 229);
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px 2px 1px 1px;
    box-shadow: 0 0 5px 0 rgb(234, 234, 234) inset;
    margin: 0 8px 0 0;
    padding: 8px;
    width: 100%;
}
.main-container .cart-collaterals .totals tr td:nth-child(2) {
    padding: 5px 5px 5px 8px;
}
select.validate-select option[value=""] {display:none;}
@media (max-width:1280px){
header.header-wrapper ul.nav-accordion li{background:#d4e1f1!important;padding:0px;}
header.header-wrapper ul.nav-accordion li a{border:none!important;}
#mobile-sticky .nav-accordion > li > a{color:#000!important;}
header.header-wrapper ul.nav-accordion li ul li{background:#ffffff!important;}
header.header-wrapper ul.nav-accordion li.level0 ul{background:#ebecec!important;}
header.header-wrapper ul.nav-accordion li ul li.parent{background:#d4e1f1!important;padding:0px;}
header.header-wrapper ul.nav-accordion li.parent ul li.parent{background:#ebecec!important;}
.navbar ul.nav-accordion ul{padding:0px;}
#mobile-sticky .nav-accordion > li > ul > li > a{color:#000!important;}
ul.nav-accordion li a{min-height:42px!important;line-height:42px!important;}
ul.nav-accordion li:hover:before{font-size:0px!important;}
ul.nav-accordion li:hover:after{font-size:0px!important;}
ul.nav-accordion li:before{font-size:0px!important;}
ul.nav-accordion li:after{font-size:0px!important;}
header.header-wrapper .nav-accordion.nav-mobile-accordion li span.expand,
header.header-wrapper .navbar ul.nav-accordion li span.collapse{height:42px!important;line-height:42px!important;}
header.header-wrapper .navbar ul.nav-accordion li span.collapse{background-image:url("../packer/images/down.png")!important;background-position:98% center!important;
background-size:12px auto;top:0px!important;}
body header.header-wrapper .navbar .nav-accordion.nav-mobile-accordion li span.expand{background-image:url("../packer/images/up.png")!important;background-position:97% center!important;
background-size:12px auto;top:2px!important;}
.nav-accordion.nav-mobile-accordion #recentlysold-mobmenu > a.recently-purchased{overflow: hidden;}
.recentlysold-mobmenu-title{clear:both;margin: 0 12px 10px 23px !important;overflow:hidden;width: auto !important;}
.nav_news_img{max-width: 72px;}
}


