<?xml version="1.0"?>
<config>
    <modules>
        <Trd_Forms>
            <version>0.1.1</version>
        </Trd_Forms>
    </modules>
    <global>
        <models>
            <trd_forms>
                <class>Trd_Forms_Model</class>
                <resourceModel>trd_forms_resource</resourceModel>
            </trd_forms>
            <trd_forms_resource>
                <class>Trd_Forms_Model_Resource</class>
                <entities>
                    <formcontact>
                        <table>formcontact</table>
                    </formcontact>
                </entities>
            </trd_forms_resource>
        </models>
        <blocks>
            <trd_forms>
                <class>Trd_Forms_Block</class>
            </trd_forms>
        </blocks>
        <helpers>
            <trd_forms>
                <class>Trd_Forms_Helper</class>
            </trd_forms>
        </helpers>
        <resources>
            <trd_forms_setup>
                <setup>
                    <module>Trd_Forms</module>
                </setup>
            </trd_forms_setup>
        </resources>
    </global>

    <admin>
        <routers>
            <forms>
                <use>admin</use>
                <args>
                    <module>Trd_Forms</module>
                    <frontName>admtrdforms</frontName>
                </args>
            </forms>
        </routers>
    </admin>
    <frontend>
        <routers>
            <forms>
                <use>standard</use>
                <args>
                    <module>Trd_Forms</module>
                    <frontName>trdforms</frontName>
                </args>
            </forms>
        </routers>
    </frontend>
</config>