<?xml version="1.0"?>
<config>
    <modules>
        <Searchtechnow_Stnpromotion>
            <version>0.1.0</version>
        </Searchtechnow_Stnpromotion>
    </modules>
    <frontend>
        <routers>
            <stnpromotion>
                <use>standard</use>
                <args>
                    <module>Searchtechnow_Stnpromotion</module>
                    <frontName>stnpromotion</frontName>
                </args>
            </stnpromotion>
        </routers>
        <layout>
            <updates>
                <searchtechnow_stnpromotion>
                    <file>stnpromotion.xml</file>
                </searchtechnow_stnpromotion>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <stnpromotion>
                <use>admin</use>
                <args>
                    <module>Searchtechnow_Stnpromotion</module>
                    <frontName>stnpromotion</frontName>
                </args>
            </stnpromotion>
        </routers>
    </admin>
    <adminhtml>
        
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <stnpromotion>
                            <title>Stnpromotion Module</title>
                            <sort_order>200</sort_order>
                        </stnpromotion>
                    </children>
                </admin>
            </resources>   
        </acl>
        <layout>
            <updates>
                <searchtechnow_stnpromotion>
                    <file>stnpromotion.xml</file>
                </searchtechnow_stnpromotion>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <stnpromotion>
                <class>Searchtechnow_Stnpromotion_Model</class>
                <resourceModel>stnpromotion_mysql4</resourceModel>
            </stnpromotion>
            <stnpromotion_mysql4>
                <class>Searchtechnow_Stnpromotion_Model_Mysql4</class>
                <entities>
                    <stnpromotion>
                        <table>stnpromotion</table>
                    </stnpromotion>
                </entities>
            </stnpromotion_mysql4>
        </models>
        <resources>
            <stnpromotion_setup>
                <setup>
                    <module>Searchtechnow_Stnpromotion</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </stnpromotion_setup>
            <stnpromotion_write>
                <connection>
                    <use>core_write</use>
                </connection>
     
     
            </stnpromotion_write>
            <stnpromotion_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </stnpromotion_read>
        </resources>
        <blocks>
            <stnpromotion>
                <class>Searchtechnow_Stnpromotion_Block</class>
            </stnpromotion>
        </blocks>
        <helpers>
            <stnpromotion>
                <class>Searchtechnow_Stnpromotion_Helper</class>
            </stnpromotion>
        </helpers>
    </global>
</config>