<?xml version="1.0"?>
<config>
  <modules>
    <Searchtechnow_Couplering>
      <version>1.0.1</version>
    </Searchtechnow_Couplering>
  </modules>
  <frontend>
    <routers>
      <couplering>
        <use>standard</use>
        <args>
          <module>Searchtechnow_Couplering</module>
          <frontName>couplering</frontName>
        </args>
      </couplering>
    </routers>
    <layout>
      <updates>
        <couplering>
          <file>couplering.xml</file>
        </couplering>
      </updates>
    </layout>
  </frontend>
  <admin>
    <routers>
      <couplering>
        <use>admin</use>
        <args>
          <module>Searchtechnow_Couplering</module>
          <frontName>couplering</frontName>
        </args>
      </couplering>
    </routers>
  </admin>
  <adminhtml>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <couplering>
              <title>Couplering Module</title>
              <sort_order>200</sort_order>
            </couplering>
          </children>
        </admin>
      </resources>
    </acl>
    <layout>
      <updates>
        <couplering>
          <file>couplering.xml</file>
        </couplering>
      </updates>
    </layout>
  </adminhtml>
  <global>
    <models>
      <couplering>
        <class>Searchtechnow_Couplering_Model</class>
        <resourceModel>couplering_mysql4</resourceModel>
      </couplering>
      <couplering_mysql4>
        <class>Searchtechnow_Couplering_Model_Mysql4</class>
        <entities>
          <couplering>
            <table>couplering</table>
          </couplering>
        </entities>
      </couplering_mysql4>
    </models>
    <resources>
      <couplering_setup>
        <setup>
          <module>Searchtechnow_Couplering</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </couplering_setup>
      <couplering_write>
        <connection>
          <use>core_write</use>
        </connection>
      </couplering_write>
      <couplering_read>
        <connection>
          <use>core_read</use>
        </connection>
      </couplering_read>
    </resources>
    <blocks>
      <couplering>
        <class>Searchtechnow_Couplering_Block</class>
      </couplering>
    </blocks>
    <helpers>
      <couplering>
        <class>Searchtechnow_Couplering_Helper</class>
      </couplering>
    </helpers>
  </global>
</config>
